<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>变量的基本使用</h1>
{#{{ li[0]  +  1 }}#}
{#{{ dic['name'] }}#}
{#{{ test.t }}#}
<h1>过滤器的使用</h1>
<h2>字符串操作过滤器</h2>
{#语法格式   值|过滤器()#}

<p>显示默认值:{{ name|default('默认值') }}</p>
<p>首字母:{{ 'hello'| capitalize }}</p>
<p>首字母:{{ ' world  '| trim }}</p>

<h1>列表操作</h1>
<p>列表长度:{{ [0,1]| length }}</p>
<p>列表长度:{{ [0,1]| length }}</p>
<p>{{ now|datetime() }}</p>

<h1>标签语法</h1>
<h2>跟django的语法一模一样</h2>
{% for i in li %}
    {#    forloop#}
    {{ loop.first }}
    {{ loop.last }}
    {{ loop.index }}
    {{ loop.revindex }}
    <p>{{ loop.index0 }}</p>
{% endfor %}

</body>
</html>